.todo_list {
    visibility: hidden;
    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    top: 0;
    left: 0;
    background: #4d4d4d;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    z-index: 1000;
    font-size: 3em;
    overflow-y: scroll;
    -webkit-text-fill-color: #ffffff;
    -moz-text-fill-color: #ffffff;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}